Django==5.0.6
langdetect==1.0.9
numpy==2.3.3
pandas==2.3.2
Pillow==11.3.0
protobuf==6.32.0
pydub==0.25.1
scikit_learn==1.7.2
speechrecognition==3.14.3
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
transformers==4.55.2
